@charset "UTF-8";
/*
 * Главный файл стилей.
 * Все паршалы подключаются сюда.
 */
body {
  font-family: 'DM Sans', sans-serif;
}

.header-container {
  margin-left: auto;
  margin-right: auto;
}

@media screen and (min-width: 320px) {
  .header-container {
    padding-left: 20px;
    padding-right: 20px;
    max-width: 600px;
  }
}

@media screen and (min-width: 768px) {
  .header-container {
    padding-left: 35px;
    padding-right: 35px;
    max-width: 1000px;
  }
}

@media screen and (min-width: 1200px) {
  .header-container {
    padding-left: 115px;
    padding-right: 115px;
    max-width: 1200px;
  }
}

.hero {
  background-color: yellow;
}

.hero-container {
  margin-left: auto;
  margin-right: auto;
}

@media screen and (min-width: 320px) {
  .hero-container {
    padding-left: 20px;
    padding-right: 20px;
    max-width: 600px;
  }
}

@media screen and (min-width: 768px) {
  .hero-container {
    padding-left: 35px;
    padding-right: 35px;
    max-width: 1000px;
  }
}

@media screen and (min-width: 1200px) {
  .hero-container {
    padding-left: 115px;
    padding-right: 115px;
    max-width: 1200px;
  }
}

.products {
  background-color: #ffffff;
  width: 100%;
}

.products-container {
  margin-left: auto;
  margin-right: auto;
  padding-top: 121px;
  padding-bottom: 98px;
  margin-left: auto;
  margin-right: auto;
}

@media screen and (min-width: 320px) {
  .products-container {
    padding-left: 20px;
    padding-right: 20px;
    max-width: 600px;
  }
}

@media screen and (min-width: 768px) {
  .products-container {
    padding-left: 35px;
    padding-right: 35px;
    max-width: 1000px;
  }
}

@media screen and (min-width: 1200px) {
  .products-container {
    padding-left: 115px;
    padding-right: 115px;
    max-width: 1200px;
  }
}

.products-description {
  margin-top: 0;
  margin-bottom: 0;
  padding-bottom: 15px;
  text-align: center;
  text-transform: uppercase;
  font-family: Titan One;
  font-size: 18px;
  font-weight: 400;
  line-height: 1.17;
  letter-spacing: 0em;
  color: #ffa5ba;
}

@media screen and (min-width: 768px) {
  .products-description {
    font-size: 26px;
    line-height: 1.15;
  }
}

@media screen and (min-width: 1200px) {
  .products-description {
    font-size: 34px;
    line-height: 1.13;
  }
}

.products-heading {
  margin-top: 0;
  margin-bottom: 144px;
  text-align: center;
  text-transform: uppercase;
  font-family: Titan One;
  font-size: 34px;
  font-weight: 400;
  line-height: 1.14;
  letter-spacing: 0.04em;
  color: #d41443;
}

@media screen and (min-width: 768px) {
  .products-heading {
    font-size: 48px;
    line-height: 1.15;
    margin-bottom: 150px;
  }
}

@media screen and (min-width: 1200px) {
  .products-heading {
    font-size: 58px;
    line-height: 1.14;
    margin-bottom: 259px;
  }
}

@media screen and (min-width: 768px) {
  .products-flex {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.products-list {
  display: block;
  list-style: none;
  padding: 0;
  margin: 0;
  text-align: center;
}

@media screen and (min-width: 768px) {
  .products-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.products-position {
  position: relative;
  width: 280px;
  margin-left: auto;
  margin-right: auto;
}

@media screen and (min-width: 768px) {
  .products-position {
    width: 220px;
  }
}

@media screen and (min-width: 1200px) {
  .products-position {
    width: 329px;
  }
  .products-position:not(:last-child) {
    margin-right: 29px;
  }
}

.products-position:not(:last-child) {
  margin-bottom: 130px;
}

@media screen and (min-width: 768px) {
  .products-position:not(:last-child) {
    margin-bottom: 0;
  }
}

.product-block {
  text-align: center;
  padding-top: 161px;
  padding-bottom: 41px;
  border-radius: 24px;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

@media screen and (min-width: 768px) {
  .product-block {
    padding-top: 152px;
    padding-bottom: 40px;
  }
}

@media screen and (min-width: 1200px) {
  .product-block {
    padding-top: 163px;
    padding-bottom: 50px;
  }
}

.block-icecream {
  background: #ffb8ca;
}

.block-coffee {
  background: #f0d1a5;
}

.block-milkshake {
  background: #c2e297;
}

.products-img {
  position: absolute;
  content: '';
  height: 252px;
  width: 249px;
  top: -113px;
}

@media screen and (max-width: 767px) {
  .products-img {
    right: 15px;
  }
}

@media screen and (min-width: 768px) {
  .products-img {
    height: 220px;
    width: 226px;
    top: -103px;
  }
}

@media screen and (min-width: 1200px) {
  .products-img {
    height: 329px;
    width: 329px;
    top: -210px;
    right: -13px;
  }
}

.products-name {
  margin-top: 0;
  margin-bottom: 30px;
  font-family: Titan One;
  text-transform: uppercase;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.04em;
  color: #ffffff;
}

@media screen and (min-width: 1200px) {
  .products-name {
    font-size: 30px;
    line-height: 1.13;
    margin-bottom: 32px;
  }
}

.products-list-delimiter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 30px;
}

@media screen and (min-width: 1200px) {
  .products-list-delimiter {
    margin-bottom: 32px;
  }
}

.products-delimiter {
  font-size: 0;
  margin-top: 0;
  margin-bottom: 0;
}

.products-delimiter:not(:last-child) {
  margin-right: 4px;
}

.products-text {
  text-align: center;
  width: 200px;
  margin-bottom: 30px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  font-family: DM Sans;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #ffffff;
}

@media screen and (min-width: 768px) {
  .products-text {
    line-height: 1.79;
    margin-bottom: 40px;
  }
}

@media screen and (min-width: 1200px) {
  .products-text {
    font-size: 16px;
    line-height: 1.75;
  }
}

.products-button {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 40px;
  height: 40px;
  border-radius: 50px;
  background-color: #ffffff;
  border: 1px solid transparent;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  -webkit-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  cursor: pointer;
}

.products-button:hover, .products-button:focus {
  background-color: #d41443;
}

.products-button:hover .products-arrow, .products-button:focus .products-arrow {
  fill: #ffffff;
}

.products-arrow {
  width: 10px;
  height: 10px;
  fill: #d41443;
}

p, h1, h2, h3 {
  margin: 0;
  padding: 0;
}

.made {
  background-color: #FFF5F6;
}

.made-container {
  margin-left: auto;
  margin-right: auto;
  padding-top: 125px;
  padding-bottom: 95px;
}

@media screen and (min-width: 320px) {
  .made-container {
    padding-left: 20px;
    padding-right: 20px;
    max-width: 600px;
  }
}

@media screen and (min-width: 768px) {
  .made-container {
    padding-left: 35px;
    padding-right: 35px;
    max-width: 1000px;
  }
}

@media screen and (min-width: 1200px) {
  .made-container {
    padding-left: 115px;
    padding-right: 115px;
    max-width: 1200px;
  }
}

.made-titan {
  font-family: 'Titan One', cursive;
}

.made-traditional {
  text-align: center;
  text-transform: uppercase;
  color: #ffa5ba;
  font-size: 18px;
  line-height: 1.17;
}

@media screen and (min-width: 768px) {
  .made-traditional {
    font-size: 26px;
  }
}

.made-header {
  margin-top: 15px;
  text-align: center;
  text-transform: uppercase;
  font-size: 34px;
  line-height: 1.17;
  color: #d41443;
}

@media screen and (min-width: 768px) {
  .made-header {
    font-size: 48px;
  }
}

.made-box-wrapper {
  margin-left: auto;
  margin-right: auto;
  max-width: 500px;
}

.made-box-wrapper .made768 {
  display: none;
}

@media screen and (min-width: 768px) {
  .made-box-wrapper .made320 {
    display: none;
  }
  .made-box-wrapper .made768 {
    display: inline;
  }
}

.made-description {
  margin-top: 25px;
}

@media screen and (min-width: 768px) {
  .made-description {
    margin-left: -15px;
    margin-right: -15px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .made-description > div {
    -ms-flex-preferred-size: calc((100% - 45px) / 2);
        flex-basis: calc((100% - 45px) / 2);
  }
}

.made-discription-text {
  margin-top: 45px;
}

.made-discription-text p {
  padding: 0 30px;
  color: #907e82;
  font-weight: 500;
  line-height: 1.62;
  margin-bottom: 45px;
}

@media screen and (min-width: 768px) {
  .made-discription-text p {
    padding: 0;
  }
}

.made-discription-text .made-discription-first {
  color: black;
}

.made-discription-text .discription-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 180px;
  height: 45;
  margin: 0 auto;
  text-decoration: none;
  text-align: center;
  font-size: 14px;
  font-weight: 700;
  line-height: 1,28;
  color: #d41443;
  padding: 10px 0;
  border: 1px solid #FFF;
  border-radius: 22px;
  background-color: #FFFFFF;
}

.made-discription-text .discription-btn .made-arrow-btn {
  font-size: 20px;
  margin-left: 15px;
}

.made-discription-text .discription-btn:hover, .made-discription-text .discription-btn:active {
  background-color: #D41342;
  color: #FFFFFF;
}

@media screen and (min-width: 768px) {
  .made-discription-text .discription-btn {
    margin-left: 0px;
  }
}

.made-list {
  list-style: none;
}

.made-list li {
  margin-top: 40px;
}

.made-list li h3 {
  margin-top: 15px;
  margin-bottom: 20px;
  color: #d41443;
  font-size: 36px;
  line-height: 1.2;
}

.made-list li p {
  font-size: 12px;
  font-weight: 700;
  line-height: 1.7;
}

.coments {
  background-color: green;
}

.coments-container {
  margin-left: auto;
  margin-right: auto;
}

@media screen and (min-width: 320px) {
  .coments-container {
    padding-left: 20px;
    padding-right: 20px;
    max-width: 600px;
  }
}

@media screen and (min-width: 768px) {
  .coments-container {
    padding-left: 35px;
    padding-right: 35px;
    max-width: 1000px;
  }
}

@media screen and (min-width: 1200px) {
  .coments-container {
    padding-left: 115px;
    padding-right: 115px;
    max-width: 1200px;
  }
}

.boxes {
  background-color: blue;
}

.boxes-container {
  margin-left: auto;
  margin-right: auto;
}

@media screen and (min-width: 320px) {
  .boxes-container {
    padding-left: 20px;
    padding-right: 20px;
    max-width: 600px;
  }
}

@media screen and (min-width: 768px) {
  .boxes-container {
    padding-left: 35px;
    padding-right: 35px;
    max-width: 1000px;
  }
}

@media screen and (min-width: 1200px) {
  .boxes-container {
    padding-left: 115px;
    padding-right: 115px;
    max-width: 1200px;
  }
}

.footer {
  background-color: gold;
}

.footer-container {
  margin-left: auto;
  margin-right: auto;
  height: 100px;
}

@media screen and (min-width: 320px) {
  .footer-container {
    padding-left: 20px;
    padding-right: 20px;
    max-width: 600px;
  }
}

@media screen and (min-width: 768px) {
  .footer-container {
    padding-left: 35px;
    padding-right: 35px;
    max-width: 1000px;
  }
}

@media screen and (min-width: 1200px) {
  .footer-container {
    padding-left: 115px;
    padding-right: 115px;
    max-width: 1200px;
  }
}
/*# sourceMappingURL=main.css.map */