<section class="products">
    <div class="products-container">
        <!-- Полина -->
        <p class="products-description">100% natural</p>
        <h2 class="products-heading">Produts</h2>
        <div class="products-flex">
            <div class="products-position">
                <picture class="products-img" >
                    <source srcset="./images/products/desktop/products-icecream-desk.webp 1x, 
                                            ./images/products/desktop/products-icecream-desk@2x.webp 2x" media="(min-width: 1280px)" />
                    <source srcset="./images/products/tablet/products-icecream-tab.webp 1x, 
                                            ./images/products/tablet/products-icecream-tab@2x.webp 2x" media="(min-width: 768px)" />
                    <source srcset="./images/products/mobile/products-icecream-mob.webp 1x, 
                                            ./images/products/mobile/products-icecream-mob@2x.webp 2x" media="(max-width: 767px)" />
                
                    <source srcset="./images/products/desktop/products-icecream-desk.png 1x, 
                                            ./images/products/desktop/products-icecream-desk@2x.png 2x" media="(min-width: 1280px)" />
                    <source srcset="./images/products/tablet/products-icecream-tab.png 1x, 
                                            ./images/products/tablet/products-icecream-tab@2x.png 2x" media="(min-width: 768px)" />
                    <source srcset="./images/products/mobile/products-icecream-mob.png 1x, 
                                            ./images/products/mobile/products-icecream-mob@2x.png 2x" media="(max-width: 767px)" />
                    <img src="./images/products/mobile/products-icecream-mob.png" alt="Мороженое" />
                </picture>
                
                <div class="product-block product-block-icecream">
                    <h4 class="products-name">ice cream</h4>
                    <ul class="products-list products-list-delimiter">
                        <li class="products-delimiter">
                            <svg width="6" height="6">
                                <circle r="3"  cx="3" cy="3" fill="white"/>
                            </svg>
                        </li>
                        <li class="products-delimiter">
                            <svg width="6" height="6">
                                <circle r="3" cx="3" cy="3" fill="white" />
                            </svg>
                        </li>
                        <li class="products-delimiter">
                            <svg width="6" height="6">
                                <circle r="3" cx="3" cy="3" fill="white" />
                            </svg>
                        </li>
                    </ul>
                    <p class="products-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et. dolore magna
                    aliqua facilisis.</p>
                    <button class="products-button">
                        <svg class="products-arrow">
                            <use href="./images/products/symbol-defs-products.svg#icon-arrow" />
                        </svg>
                    </button>
                </div>
            </div>

            <div class="products-position">
                <picture class="products-img">
                    <source srcset="./images/products/desktop/products-coffee-desk.webp 1x, 
                                                            ./images/products/desktop/products-coffee-desk@2x.webp 2x"
                        media="(min-width: 1280px)" />
                    <source srcset="./images/products/tablet/products-coffee-tab.webp 1x, 
                                                            ./images/products/tablet/products-coffee-tab@2x.webp 2x"
                        media="(min-width: 768px)" />
                    <source srcset="./images/products/mobile/products-coffee-mob.webp 1x, 
                                                            ./images/products/mobile/products-coffee-mob@2x.webp 2x"
                        media="(max-width: 767px)" />
                
                    <source srcset="./images/products/desktop/products-coffee-desk.png 1x, 
                                                            ./images/products/desktop/products-coffee-desk@2x.png 2x"
                        media="(min-width: 1280px)" />
                    <source srcset="./images/products/tablet/products-coffee-tab.png 1x, 
                                                            ./images/products/tablet/products-coffee-tab@2x.png 2x"
                        media="(min-width: 768px)" />
                    <source srcset="./images/products/mobile/products-coffee-mob.png 1x, 
                                                            ./images/products/mobile/products-coffee-mob@2x.png 2x"
                        media="(max-width: 767px)" />
                    <img src="./images/products/mobile/products-coffee-mob.png" alt="Кофе" />
                </picture>
                <div class="product-block product-block-coffee">
                <h4 class="products-name">ice coffee</h4>
                <ul class="products-list products-list-delimiter">
                    <li class="products-delimiter">
                        <svg width="6" height="6">
                            <circle r="3" cx="3" cy="3" fill="white" />
                        </svg>
                    </li>
                    <li class="products-delimiter">
                        <svg width="6" height="6">
                            <circle r="3" cx="3" cy="3" fill="white" />
                        </svg>
                    </li>
                    <li class="products-delimiter">
                        <svg width="6" height="6">
                            <circle r="3" cx="3" cy="3" fill="white" />
                        </svg>
                    </li>
                </ul>
                <p class="products-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et. dolore magna
                aliqua facilisis.</p>
                <button class="products-button">
                    <svg class="products-arrow">
                        <use href="./images/products/symbol-defs-products.svg#icon-arrow" />
                    </svg>
                </button>
                </div>
            </div>

            <div class="products-position">
                <picture class="products-img">
                    <source srcset="./images/products/desktop/products-milkshake-desk.webp 1x, 
                                                            ./images/products/desktop/products-milkshake-desk@2x.webp 2x"
                        media="(min-width: 1280px)" />
                    <source srcset="./images/products/tablet/products-milkshake-tab.webp 1x, 
                                                            ./images/products/tablet/products-milkshake-tab@2x.webp 2x"
                        media="(min-width: 768px)" />
                    <source srcset="./images/products/mobile/products-milkshake-mob.webp 1x, 
                                                            ./images/products/mobile/products-milkshake-mob@2x.webp 2x"
                        media="(max-width: 767px)" />
                
                    <source srcset="./images/products/desktop/products-milkshake-desk.png 1x, 
                                                            ./images/products/desktop/products-milkshake-desk@2x.png 2x"
                        media="(min-width: 1280px)" />
                    <source srcset="./images/products/tablet/products-milkshake-tab.png 1x, 
                                                            ./images/products/tablet/products-milkshake-tab@2x.png 2x"
                        media="(min-width: 768px)" />
                    <source srcset="./images/products/mobile/products-milkshake-mob.png 1x, 
                                                            ./images/products/mobile/products-milkshake-mob@2x.png 2x"
                        media="(max-width: 767px)" />
                    <img src="./images/products/mobile/products-milkshake-mob.png" alt="Милкшейк" />
                </picture>
                <div class="product-block product-block-milkshake">
                <h4 class="products-name">milkshakes</h4>
                <ul class="products-list products-list-delimiter">
                    <li class="products-delimiter">
                        <svg width="6" height="6">
                            <circle r="3" cx="3" cy="3" fill="white" />
                        </svg>
                    </li>
                    <li class="products-delimiter">
                        <svg width="6" height="6">
                            <circle r="3" cx="3" cy="3" fill="white" />
                        </svg>
                    </li>
                    <li class="products-delimiter">
                        <svg width="6" height="6">
                            <circle r="3" cx="3" cy="3" fill="white" />
                        </svg>
                    </li>
                </ul>
                <p class="products-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et. dolore magna
                aliqua facilisis.</p>
                <button class="products-button">
                    <svg class="products-arrow">
                        <use href="./images/products/symbol-defs-products.svg#icon-arrow" />
                    </svg>
                </button>
                </div>
            </div>
        </div>
    </div>
</section>